PROJECTNAME=pyqounter-server

OWNER=rad
GROUP=rad

DESTDIR=/home/$(OWNER)/django.apps/$(PROJECT_NAME)

REGEXP_DEVEL_URL=http:\/\/$(PROJECTNAME)

MAKE=make

PO=$(wildcard ./locale/ru/LC_MESSAGES/*.po)
MO=$(patsubst %.po,%.mo,$(PO))

