{% extends 'base.html' %}
{% load media %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% media 'media/extjs/resources/css/ext-all.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% media 'css/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% media 'css/jquery.weekcalendar.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% media 'js/jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% media 'media/extjs/adapter/jquery/ext-jquery-adapter-debug.js' %}"></script>
    <script type="text/javascript" src="{% media 'media/extjs/ext-all-debug.js' %}"></script>

    <script type="text/javascript" src="{% media 'js/Ext.ux.SchedulePanel.js' %}"></script>
    <script type="text/javascript" src="{% media 'js/Ext.ux.CoursePanel.js' %}"></script>
    <script type="text/javascript">
        Ext.BLANK_IMAGE_URL = '{% media "media/extjs/resources/images/default/s.gif" %}';
        var URLS = {
            get_active_courses: '{% url client:get_active_courses %}'
        };
    </script>
<script type="text/javascript" src="{% media 'js/foobar-client.js' %}"></script>
{% endblock %}

{% block content %}
{% endblock %}
