#msg-div {
    left:35%;
    position:absolute;
    top:10px;
    width:250px;
    z-index:20000;
}

#msg-div .ext-mb-icon {
    background: transparent none no-repeat scroll left top;
    padding-left: 35px;
    min-height: 40px;
}

#msg-div .ext-mb-info {
    background-image: url(../images/default/window/icon-info.gif);
}

#msg-div .ext-mb-error {
    background-image: url(../images/default/window/icon-error.gif);
}

#msg-div .ext-mb-question {
    background-image: url(../images/default/window/icon-question.gif);
}

#msg-div .ext-mb-warning {
    background-image: url(../images/default/window/icon-warning.gif);
}

.room-fieldset-body {
    margin-bottom: -20px;
}

.delete-event {
    background: transparent none no-repeat scroll left bottom;
    background-image: url(../images/default/delete.gif);
    width: 16px;
    height: 16px;
    position: absolute;
    padding: 0;
    margin: 10px 0 0 3px;
    display: none;
}