
PROJECTNAME=foobar

OWNER=rad
GROUP=rad

INSTALL_DJANGO_DIR=/home/$(OWNER)/django.apps

REGEXP_DEVEL_URL=http:\/\/$(PROJECTNAME)

MAKE=make

PO=$(wildcard ./locale/ru/LC_MESSAGES/*.po)
MO=$(patsubst %.po,%.mo,$(PO))

