{% extends 'base.html' %}

{% load media %}

{% block css %}
    <link rel='stylesheet' type='text/css' href='{% media "css/reset.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% media "css/jquery-ui.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% media "css/jquery.weekcalendar.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% media "css/demo.css" %}' />
{% endblock %}

{% block js %}
    <script type='text/javascript' src='{% media "js/jquery.min.js" %}'></script>
    <script type='text/javascript' src='{% media "js/jquery-ui.min.js" %}'></script>
    <script type='text/javascript' src='{% media "js/jquery.weekcalendar.js" %}'></script>
    <script type='text/javascript' src='{% media "js/jquery.wtooltip.js" %}'></script>
    <script type='text/javascript' src='{% media "js/calendar.js" %}'></script>
    <script type='text/javascript'>
        var calendar_options = {{ options|safe }};
        calendar_options['urls'] = {
            add_event: '{% url client:ajax_add_event %}',
            del_event: '{% url client:ajax_del_event %}',
            change_date: '{% url client:ajax_change_date %}',
            get_events: '{% url client:ajax_get_events %}'
        };
        calendar_options['data'] = function(start, end, callback, rooms) {
            var $options = this;
            var data = {
                'start': Math.round(start.getTime()/1000),
                'end': Math.round(end.getTime()/1000)
            };
            if (rooms){
                data['rooms'] = rooms;
            }
            jQuery.ajax({
                type: 'POST',
                url: $options.urls.get_events,
                dataType: 'json',
                data: data,
                error: function(){
                    alert('Ошибка сервера. Обновите страницу.')
                },
                success: callback
            });
        }

        $(document).ready(function() {
        /**************************************/
                $('#calendar').weekCalendar(jQuery.extend(options, calendar_options));
                $('button').hover(
			function(){
				$(this).addClass("ui-state-hover");
			},
			function(){
				$(this).removeClass("ui-state-hover");
			}
		);

        /**************************************/
        });

    </script>
    <script type="text/javascript" src="http://ui.jquery.com/applications/themeroller/themeswitchertool/"></script>
    <script type="text/javascript"> $(function(){ $('<div style="position: absolute; right: 20px;" />').insertAfter('#header').themeswitcher({height: 150}); });</script>
{% endblock %}

{% block content %}
    <h1 id="header" style="float: left;">Schedule week calendar.</h1>
    <div style="clear:both;">&nbsp;</div>
    <div id='calendar'></div>
    <div id="event_edit_container">
            <form>
                    <span id="form_error" style="color: #f00;"></span><br/>
                    <span>Date: </span><span class="date_holder"></span>
                    {{ form.as_ul }}
            </form>
    </div>
{% endblock %}
