{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="./media/extjs/resources/css/ext-all.css" type="text/css"/>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="./media/extjs/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="./media/extjs/ext-all.js"></script>
  <script type="text/javascript" src="/js/foobar-manager.js"></script>
{% endblock %}

{% block content %}
{% endblock %}
