# -*- coding: utf-8 -*-
# (c) 2009 Ruslan Popov <ruslan.popov@gmail.com>

from PyQt4.QtCore import *

DEBUG = True

userRoles = {
    'getObjectID': Qt.UserRole,
}

PORT = {
    'name': '/dev/ttyUSB0',
    'rate': 38400,
    'bits_in_byte': 7,
    'parity': 'N',
    'stop_bits': 2
    }

MODEL_PROPERTIES = {
    'INFLOW': '0',
    'OUTFLOW': '1',
    'TYPE_RFIDCARDS': '0',
    }
